---
permalink: "index.html"
---

{% extends "../_layouts/_withHeaderAndNav.njk" %}

{% block main %}
    <div class="main">
        <div class="main__headline">nicktaylor.dev<span>eloper</span></div>
        <div class="details">
            <p><strong>Get in touch:</strong></p>
            <p><a href="mailto:hello@nicktaylor.dev">hello@nicktaylor.dev</a></p>
        </div>
    </div>
{% endblock main %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
{% endblock head %}

{% block scripts %}
    {{ super() }}
    <script src="/assets/main.js"></script>
{% endblock %}
