:root {
  font-size: 16px;
}


@font-face {
  font-family: 'wotfard';
  src: url('/assets/fonts/wotfard/wotfard-light-webfont.eot');
  src: url('/assets/fonts/wotfard/wotfard-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/wotfard/wotfard-light-webfont.woff2') format('woff2'),
  url('/assets/fonts/wotfard/wotfard-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'wotfard';
  src: url('/assets/fonts/wotfard/wotfard-medium-webfont.eot');
  src: url('/assets/fonts/wotfard/wotfard-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/wotfard/wotfard-medium-webfont.woff2') format('woff2'),
  url('/assets/fonts/wotfard/wotfard-medium-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'wotfard';
  src: url('/assets/fonts/wotfard/wotfard-regular-webfont.eot');
  src: url('/assets/fonts/wotfard/wotfard-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/wotfard/wotfard-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/wotfard/wotfard-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'wotfard', sans-serif;
  background: linear-gradient(111.21deg, #137380 0%, #7C1375 99.81%);
  color: #24FFAF;
}

body {
  margin: 0;
  padding: 0;
}

body, .main {
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__headline {
    font-weight: bold;
    font-size: 2em;

    span {
      font-weight: 300;
      color: #BDF9E6;
    }
  }
}

@media screen and (min-width: 568px) {
  .main {
    &__headline {
      font-size: 3em;
    }
  }
}
